node_modules
.env
output.txt
out.json
sykes*
input.txt
test.html
milad.txt
milad.out
a.js
todo.md
~*
*.bat
1.csv
2012.csv
2013.csv
a.csv
data.csv
.Rproj.user
Mikah.*
test.json
test2.json
*.out*
a
b
c
d
querey_array.json
.RData
.Rhistory
files/SoilTempMoisture.zip
