* {
  box-sizing: border-box;
}

body {
  padding: 0.5em;
}

.indent {
  margin-left: 2em;
}

th {
  background: #eee;
}

td:nth-child(1) {
  font-weight: bold;
}

td:nth-child(2) {
  text-align: center;
}

td {
  vertical-align: top;
  height: 2.5em;
}