@media print {
  .NP {
    display: none;
  }
}

:root {
  -webkit-print-color-adjust: exact;
}

body, table {
  font: 13px arial;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid black;
  border-spacing: 0; 
  empty-cells: show;
}

td, th {
  padding: 0.2em 0.5em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
}

xmp {
  display: none;
}

zu {
  color: darkblue;
}

zu:hover {
  color: green;
  cursor: pointer;
}

.stats {
  position: absolute;
  top: 0px;
  display: none;
  background: yellow;
  font: 7pt verdana;
  border: 1px solid #369;
  border-radius: 5px;
  padding: 0.5em;
  margin: auto;
}

th:hover .stats {
  display: block;
} 

.highlight {
  background: yellow;
  font-weight: bold;
}

.Announcements {overflow:hidden;border:1px solid black;background:white;color:#333;position:relative}
.Announcements * {line-height:20px;padding:0px;margin:0px;-webkit-font-smoothing: subpixel-antialiased;-webkit-backface-visibility:hidden;position:relative;-webkit-transform: rotate(0);-moz-transform: rotate(0);transform: rotate(0);-webkit-transform: translateZ(0px);-webkit-font-smoothing: antialiased}
.Announcements p {margin:0px}
.Announcements ul {padding:10px 20px}
.Announcements a {color:#369;font-size:90%;font-weight:bold;text-decoration:none;border:none}
.Announcements a:hover {text-decoration:underline}
.Announcements div:hover {opacity:1 !important}

.cellRelative td,
.cellRelative th {
  background: inherit !important;
  position: relative;
}

img.doc {
  position: fixed;
  right: 0;
  cursor: pointer;
  font-style: italic;
  height: 20px;
  opacity: 0.5;
  transition: all 0.25s;
}

img.doc:hover {
  height: 60px;
  opacity: 1;
}

div.doc {
  position: fixed;
  right: 0;
  top: 0;
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  background: white;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  background: #333;
  color: #eee;
  font-size: 14px;
}

div.doc .code {
  white-space: pre;
  font: 14px lucida console;
  margin: 0.2em 0;
}

div.doc span.line {
  color: gray;
  width: 2em;
  display: inline-block;
  text-align: right;
  padding-right: 0.75em;
}

.background {
  opacity: 0.6;
}

div.doc .code:hover {
  background: #666;
}

div.doc div {
  cursor: pointer;
  border-bottom: 1px solid #3a3a3a;  
}

.modal {
  background: lightyellow;
  padding: 0 1em;
  color: black;
  border: 1px solid black;
  font: 13px verdana;
  position: relative;
  box-sizing: border-box;
}

.modal code {
  color: brown;
  font: bold 13px lucida console;
}

.modal .close {
  position: absolute;
  top: 3px;
  right: 3px;
}

[data-exclude] {
  display: none;
}

.hidden {
  display: none;  /* don't do !important */
}
